<%- include('layouts/header') %>
<div class="container mt-5 text-center">
  <h1>Edit Profile</h1>

    <div class="card">
      <div class="card-body">

        <img width="220px;" height="180px;"  src="images/<%= userData.image %>" alt=""></td> 


        <!-- Makes POST request to /register route -->
        <form action="/signup" method="POST" enctype="multipart/form-data">
          <input type="file" name="image" >
          <input type="hidden" name="user_id" value = "<%= userData._id %>" >
          <div class="form-group text-left">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value = "<%= userData.name %>" required>
          </div>
          <div class="form-group text-left">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" value = "<%= userData.email %>" required>
          </div>
          <div class="form-group text-left">
            <label for="email">Mobile</label>
            <input type="text" class="form-control" name="mobile" value = "<%= userData.name %>"  required>
          </div>
          <div class="form-group text-left">
            <label for="image">Profile Picture</label> <br>
            <input type="file"  name="image" required>
          </div>

          <button type="submit" class="btn btn-dark" value="Update Profile" >Update</button>
        </form>
      
      </div>
    </div>
</div>

<%- include('layouts/header') %>
